.about {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: end;
}

.logo-column {
  display: flex;
  width: 240px;
  height: 240px;
  margin: 37px 70px 0px 49px;
  border-radius: 50%;
  background: #000;
}
.about-column {
  margin-top: 138px;
}

.header-logo-img-white {
  width: 148px;
  height: 114px;
  margin: auto;
  object-fit: contain;
}

.header-about {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 24px;
}
