.footer {
    margin: 100px 50px 88px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    min-height: 98px;
    max-height: 100px;
  }
  

.footer-menu-nav {
    width: 240px; 
    height: 98px; 
    justify-self: start;
}
.footer-menu-center {
    justify-self: center;
    text-align: center;
    
    
}
.footer-menu-right {
    justify-self: end;
}