.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 92px 49.5px 96px 50.5px;
}

.header-menu-link-list {
  display: flex;
  align-items: center;
  gap: 0px 33px;
  margin-right: 36px;
  text-underline-offset: 5px;
}

.header-menu-item {
  list-style-type: circle;
  display: list-item;
  white-space: nowrap;
}

.header-menu-item-active {
  list-style: none;
}

.header-menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 5px;
}

.header-logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
  margin-right: 184px;
}
.header-logo-img {
  max-height: 100%;
  object-fit: contain;
}
.header-menu-list-right {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
.header-menu-nav {
  width: 240px;
  justify-self: end;
}
.header-menu-nav-link {
  text-underline-offset: 5px;
}
